body,
html {
  font-family: "Open Sans", sans-serif;
}

div.content {
  position: absolute;
  bottom: 0px;
}

img.dog-img {
  max-width: 60%;
  height: auto;
  display: block;
  margin: auto;
}

div.text {
  font-weight: 700;
  font-size: 46px;
  line-height: 50px;

  span {
    font-size: 24px;
    font-weight: 300;
    display: block;
    margin-top: 15px;
    line-height: 30px;
  }
}

@media screen and (max-width: 980px) {
  div.content {
    display: block !important;
  }

  div.check {
    width: 100% !important;

    &:first-child {
      margin-bottom: 50px;
    }
  }

  div.container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
